/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

html, body {
  position: relative;
  height: 100%; }

[data-theme="mono"] {
  color: black;
  background-color: white; }

[data-theme="colour1"] {
  color: white;
  background-color: orange; }

[data-margin-top="big"] {
  padding-top: 200px; }

[data-margin-top="medium"] {
  padding-top: 100px; }

[data-margin-top="small"] {
  padding-top: 50px; }

[data-margin-bottom="big"] {
  padding-bottom: 200px; }

[data-margin-bottom="medium"] {
  padding-bottom: 100px; }

[data-margin-bottom="small"] {
  padding-bottom: 50px; }

.btn {
  font-family: arial;
  align-items: center;
  color: #595959;
  text-decoration: none;
  font-size: 15px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 15px 25px;
  display: table;
  margin: auto;
  transition: 1s;
  transition-timing-function: ease-in-out; }

.btn:hover {
  transform: scale(1.05, 1.05);
  background-color: #FFBF00;
  color: black; }
