@import 'variables';
// THEMES

[data-theme="mono"] {
  color: black;
  background-color: white;
}

[data-theme="colour1"] {
  color: white;
  background-color: orange;
}

// MARGINS TOP

[data-margin-top="big"] {
  padding-top: 200px;
}

[data-margin-top="medium"] {
  padding-top: 100px;
}

[data-margin-top="small"] {
  padding-top: 50px;
}

// MARGINS BOTTOM

[data-margin-bottom="big"] {
  padding-bottom: 200px;
}

[data-margin-bottom="medium"] {
  padding-bottom: 100px;
}

[data-margin-bottom="small"] {
  padding-bottom: 50px;
}



.btn {
  font-family: $fontsansef;
  align-items: center;
  color: $fontcolour2;
  text-decoration: none;
  font-size: 15px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  padding: 15px 25px;
  display: table;
  margin: auto;
  transition: 1s;
  transition-timing-function: ease-in-out;
}

.btn:hover {
  transform: scale(1.05, 1.05);
  background-color: #FFBF00;
  color: $fontcolour;
}
